<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titolo</title>
    
    <!-- Icona -->
    <link rel="icon" href="favicon.ico">

    <!-- Link Bootsrtap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Icon Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    
    <!-- VueJS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
    <!-- js -->
    <script src="js/data_milestone1.js"></script>
    <script defer src="js/vuejs.js"></script>
</head>
<body>
    <div id="root">
    <div id="bg-wall" class="container-fluid">
        <div class="main-part shadow">

            <!-- ************SIDEBAR************ -->
            <div class="main-part-list">
                <!-- USER-HEADER -->
                <div class="list-header d-flex justify-content-between align-items-center ">
                    <div class="d-flex align-items-center">
                        <img class="img-fluid" :src="`img/avatar${user.avatar}.jpg`" :alt="user.name">
                        <h4 class="fs-5 mb-0">{{user.name}}</h4>
                    </div>
                    <div class="list-icons mx-2">
                        <i class="bi bi-arrow-clockwise"></i>
                        <i class="bi bi-chat-square-fill mx-2"></i>
                        <i class="bi bi-three-dots-vertical"></i>
                    </div>
                </div>
                <!-- DISABLE NOTIFY -->
                <div class="list-notify d-flex justify-content-between align-items-center white">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-bell-slash-fill"></i>
                            <div class="text-notify">
                                <h4 class=" mb-0">Ricevi notifiche di nuovi messaggi</h4>
                                <div class="fs-6 text-decoration-underline" role="button">
                                    <small>Attiva le notifche</small>
                                </div>
                            </div>
                        </div>
                </div>
                <!-- INPUT LIST -->
                <div class="list-search">
                    <div class="input-group flex-nowrap px-2  bg-light">
                        <span role="button" class="my-1 input-group-text" @click="filtredChat">
                            <i class="bi bi-search"></i>
                        </span>
                        <input type="text" class="my-1 rounded-1 form-control" placeholder="Cerca o inizia una nuova chat" v-model="contacts.name" @mouseenter="filtredChat" @keyup.enter="filtredChat">
                    </div>
                </div>
                <!-- CHAT LIST -->
                <div class="list-chat">
                        <div v-for="(contact, i) in contacts" class="d-flex align-items-center chat-selected" @click="setCurrentIndex(i)" >
                            
                            <figure>
                                <img class="img-fluid" :src="'img/avatar'+contact.avatar+'.jpg'" :alt="contact.name ">
                            </figure>
                            <div class="list-chat-text">
                            <h4 class="fs-5 mb-0">{{contact.name}}</h4>
                            <h5 class="fs-6 mb-0">Ultimo messaggio inviato</h4>
                            </div>
                            <div class="list-chat-time">
                                <h6>12:00</h6>
                            </div>
                        </div>
                       
                </div>

            </div>
            <!-- ************PART-CHAT************ -->

            <div class="main-part-chat">
                <div class="list-header d-flex justify-content-between align-items-center ">
                    <div class="d-flex align-items-center">
                        <img class="img-fluid" :src="buildAvatarUrl(currentContact.avatar)" alt="">
                        <div class="list-chat-text">
                            <h4 class="fs-5 mb-0">{{contacts[currentIndex].name}}</h4>
                            <h5 class="fs-6 mb-0">Ultimo accesso oggi alle <span>12:00</span></h4>
                        </div>
                    </div>
                    <div class="list-icons mx-2">
                        <i class="bi bi-search"></i>
                        <i class="bi bi-paperclip mx-2"></i>
                        <i class="bi bi-three-dots-vertical"></i>
                    </div>
                </div>
                <!-- CONVERSATION -->
                <div class="main-area-chat">
                    <div class=" overflow-auto">
                        <ul class="px-3">
                            <li v-for="(message,i) in contacts[currentIndex].messages" :class="['talk p-3', message.status ]">
                                <div class="shadow message p-2 rounded-3">
                                    <p>{{message.text}}</p>
                                    <time datetime=""> {{message.date}}</time>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- FO0TER -->
                <div class="footer">
                    <!-- INPUT -->
                    <div class="input-group align-items-center">
                        <span><i class="bi bi-emoji-smile"></i></span>
                        <input type="text" class="form-control" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendMessage">
                        <span><i class="bi bi-mic-fill"></i></span>
                    </div>
                </div>
            </div>

        </div>
        

    </div>
</div>
</body>
</html>

<!-- :class="{'sent': message.status === sent}" -->
















<!-- <div class="main-part mt-4 mb-4">
    <div class="row text-center">
        <div class="col-4 list-chat">
            <div class="list-chat-header">
                <div class="row">
                    <div class="col-4 ">
                        <div class="chat-user d-flex justify-content-center align-items-center px-4">
                            <img src="img/avatar_io.jpg" alt="" class="img-fluid">
                            <h4>Sofia</h4>
                        </div>
                        <div class="chat-icon"></div>
                    </div>
                    <div class="col-8 ">.col-6 .col-sm-3</div>
                </div>
                <div class="chat-notify"></div>
            </div>
        </div>
        <div class="col-8 h-100">.col-6 .col-sm-3</div>
    </div>
</div> -->

<!-- <div v-for="(contact, i) in contacts"
    :class="{'d-flex' 'align-items-center' 'chat-selected', 'd-none':contact.visible === 'true'}" -->